node_modules/
assets/video/Acharya/
assets/video/DM Masala/
assets/video/HR construction/
assets/video/SVT/
# Temporary generated images that are unused
assets/img/film-anaavarana.jpg
assets/img/film-kauthuka.jpg
